<?xml version="1.0"?>
<ruleset name="Delivery Trace">
	<description>WordPress Coding Standards for Delivery Trace.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>

	<config name="testVersion" value="8.0-"/>
	<config name="minimum_wp_version" value="6.5"/>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="delivery-trace"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="delivery_trace"/>
				<element value="DeliveryTrace"/>
			</property>
		</properties>
	</rule>

	<rule ref="Squiz.Commenting.FileComment">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.VariableComment">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Commenting.DocComment">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
</ruleset>
